@using PromotionCMS.Areas.Admin.Models
@using PromotionCMS.Models
@model PromotionCMS.Models.CMS_USERS
@{
    ViewBag.Title = "Cập nhật người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var listRoles = (List<CMS_ROLES>)ViewBag.ListRoles;
}
<script src="@Url.Content("~/Resources/plugin/ckfinder/ckfinder.js")" type="text/javascript"></script>
<div class="main-content" ng-controller="CategoryController">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="default-icon fa fa-home home-icon"></i><a href="#">Home</a></li>
            <li>Quản lý người dùng</li>
            <li>Cập nhật tài khoản người dùng(Sửa)</li>
        </ul>
        <!-- /.breadcrumb -->
        @* <div class="pull-right timer"> Đăng nhập lần cuối vào lúc 04/12/2015 01:42:56 </div>*@
    </div>
    <div class="page-content">
        <div class="page-content-area">
            <div class="page-header">
                <h1>Cập nhật tài khoản người dùng</h1>
            </div>
            <div class="row">
                @if (ReferenceEquals(TempData["RspCode"], "99"))
                {
                    <div class="col-md-12">
                        <span class="error">Kết nối bị gián đoạn. Vui lòng thử lại</span>
                    </div>

                }
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <form class="form-horizontal" id="form" role="form" action="@Url.Action("Edit")" method="POST">
                        <input type="hidden" id="UserId" name="UserId" value="@Model.USER_ID">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right p_top">Tên đăng nhập<font style="color: red">(*)</font> </label>
                            <div class="col-sm-9">
                                @Model.USERNAME
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right p_top" for="form-field-1">Họ tên<font style="color: red">(*)</font> </label>
                            <div class="col-sm-9">
                                <input type="text" id="Fullname" name="Fullname" value="@Model.FULLNAME" maxlength="200" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right p_top" for="form-field-1">Email</label>
                            <div class="col-sm-9">
                                <input type="text" id="Email" name="Email" maxlength="100" value="@Model.EMAIL" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="form-field-1">Nhóm quyền<font style="color: red">(*)</font> </label>
                            <div class="col-sm-9">
                                <select class="form-control" name="RoleId" id="RoleId" >
                                    @foreach (var item in listRoles)
                                    {
                                        if (item.ROLE_ID == Model.ROLE_ID)
                                        {
                                            <option selected="selected" value="@item.ROLE_ID">@item.ROLE_NAME</option>
                                        }
                                        else
                                        {
                                            <option value="@item.ROLE_ID">@item.ROLE_NAME</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="@Url.Action("Index", "UsersManager")" class="btn btn-default">Quay lại</a>
                                <button type="submit" id="submit" class="btn btn-primary">Lưu lại</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content-area -->
    </div>
    <!-- /.page-content -->
</div>
<!-- /.main-content -->
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#form').validate({
                rules: {
                    Username: {
                        required: true,
                        minlength: 1,
                        maxlength: 200
                    },
                    Fullname: {
                        required: true,
                        minlength: 1,
                        maxlength: 200
                    },
                    Email: {
                        minlength: 1,
                        maxlength: 100,
                        email: true
                    },
                    RoleId: {
                        required: true
                    }

                },
                messages: {
                    Username: {
                        required: "Tên đăng nhập bắt buộc nhập",
                        minlength: "Tên đăng nhập có độ dài từ 1 – 200 ký tự",
                        maxlength: "Tên đăng nhập có độ dài từ 1 – 200 ký tự"
                    },
                    Fullname: {
                        required: "Họ tên bắt buộc nhập",
                        minlength: "Họ tên có độ dài từ 1 – 200 ký tự",
                        maxlength: "Họ tên có độ dài từ 1 – 200 ký tự"
                    },
                    Email: {
                        minlength: "Thông tin Email có độ dài từ 1 – 100 ký tự",
                        maxlength: "Thông tin Email có độ dài từ 1 – 100 ký tự",
                        email: "Định dạng mail không đúng"
                    },
                    RoleId: {
                        required: "Nhóm quyền chưa được lựa chọn"
                    }
                }
            });
        });
    </script>
}