@using PromotionCMS.Areas.Admin.Models
@model PromotionCMS.Models.CMS_ROLES
@{
    ViewBag.Title = "Chi tiết nhóm quyền";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Resources/plugin/ckfinder/ckfinder.js")" type="text/javascript"></script>
<div class="main-content" ng-controller="RolesController">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="default-icon fa fa-home home-icon"></i><a href="#">Home</a></li>
            <li>Quản lý nhóm quyền</li>
            <li>Chi tiết nhóm quyền</li>
        </ul>
        <!-- /.breadcrumb -->
        @* <div class="pull-right timer"> Đăng nhập lần cuối vào lúc 04/12/2015 01:42:56 </div>*@
    </div>
    <div class="page-content">
        <div class="page-content-area">
            <div class="page-header">
                <h1>Chi tiết nhóm quyền</h1>
            </div>
            <div class="row">
                <div class="col-md-12" id="errorRoles">
                </div>
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <form class="form-horizontal" id="form" role="form" action="" method="POST">
                        <input type="hidden" id="RolesID" name="RolesID" value="@Model.ROLE_ID" maxlength="200" class="form-control">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">Mã nhóm quyền </label>
                                    <div class="col-sm-9">
                                        <b>@Model.ROLE_KEY</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">Ngày tạo</label>
                                    <div class="col-sm-9">
                                        <b>@Model.CREATED_ON</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">Tên nhóm quyền</label>
                                    <div class="col-sm-9">
                                        <b>@Model.ROLE_NAME</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">Người tạo </label>
                                    <div class="col-sm-9">
                                        <b>@Model.CREATED_BY</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">Ghi Chú</label>
                                    <div class="col-sm-9">
                                        <b>@Model.ROLE_NOTE</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">Ngày sửa</label>
                                    <div class="col-sm-9">
                                        <b>@Model.MODIFIED_ON</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">Trạng thái</label>
                                    <div class="col-sm-9">
                                        @{
                                            if (Model.STATUS == "1")
                                            {
                                                <b style="color: green">Hoạt động</b>
                                            }
                                            else
                                            {
                                                <b style="color: red">Tạm khóa</b>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">Người sửa</label>
                                    <div class="col-sm-9">
                                        <b>@Model.MODIFIED_BY</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <ul class="nav nav-tabs">
                            <li class="" id="cat"><a data-toggle="tab" href="#category">Danh mục</a></li>
                            <li><a data-toggle="tab" href="#system">Hệ thống</a></li>
                        </ul>

                        <div class="tab-content" style="border: 1px solid #b0c4de;">
                            <div class="tab-pane fade in active" id="category">
                                <div id="treeCategoty">

                                </div>
                            </div>
                            <div class="tab-pane fade" id="system">
                                <div id="treeSystem">

                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-6 col-md-12">
                                <a href="@Url.Action("Index", "Roles")" class="btn btn-default">Quay lại</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content-area -->
    </div>
    <!-- /.page-content -->
</div>
<!-- /.main-content -->
@section scripts{
    <script type="text/javascript">
        function GetTree(treeName, funcId) {
            var treeModel = null;
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadTabRolesDetails")',
                dataType: "json",
                data: {
                    funcId: funcId,
                    roleId: $("#RolesID").val()
                },
                success: function (data) {
                    treeModel = data.RspList;
                    //                console.log(treeModel);
                    $("#" + treeName).jstree({
                        "core": {
                            "data": treeModel,
                            "check_callback": true
                        },
                        "checkbox": {
                            "keep_selected_style": false
                        },
                        "plugins": ['dnd', 'contextmenu', 'checkbox']
                    });
                }
            });
        }

        $(document).ready(function () {
            GetTree("treeCategoty", "1");
            GetTree("treeSystem", "2");
            $('#treeCategoty').off("contextmenu.jstree", ".jstree-anchor");
            $("#cat").addClass("active");
        });

    </script>
}